[submodule "assets/dateparse"]
	path = assets/dateparse
	url = https://github.com/dvhar/dateparse
[submodule "assets/vulnerable_parser"]
	path = assets/vulnerable_parser
	url = https://github.com/kchousos/vulnerable_parser
